@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./static/oldpaper.jpeg');
    background-repeat: no-repeat;
    background-size: cover
    ;
}
.title1 {
    text-align: center;
    padding: 40px;
    font-family: 'Permanent Marker';
    font-size: 4em;
}

ul {
    text-align: center;
}

li {
    list-style: none;
    font-family: "permanent marker";
    font-size: 2em;
    padding: 20px;
    margin: 0 7em;
}

/* form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
} */

title2{
    display: flex;
    justify-content: center;
    align-items: center;
}